.tasks {
  display: flex;
  flex-direction: column-reverse;
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    height: 25px;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    height: 25px;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
}

.task-item-container.new-item {
  animation: fadeInSlideUp 0.3s ease-out forwards;
}
.task-item-container.new-item.deleting {
  animation: fadeOut 0.3s ease-out backwards;
}