:root {
  --task-height: 40px;
}
.tasks {
  display: flex;
  flex-direction: column;
  line-height: 40px;
  width: 100%;
}
@keyframes fadeInSlideUp {
  from {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    height: 40px;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    height: 40px;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    height: 0;
    transform: translateY(-20px);
  }
}
.task-item-container {
  /* height: var(--task-height); */
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-left: none;
  border-right: none;
}
.task-item-container + .task-item-container {
  border-top: none;
}

.task-item-container.new-item.deleting {
  /* animation: fadeOut 0.3s ease-out backwards; */
  height: 0;
  opacity: 0;
}